.footer {
  background-color: grey;
  width: 100vw;
  height: 10vh;
  position: relative;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left {
  padding: 1.5rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

.right {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right > a {
  margin: 1rem;
  cursor: pointer;
}

.left > a {
  margin: 1rem;
  cursor: pointer;
}
